#footer {
    width: 100%;
    position: relative;
    z-index: 100;
    background-color: #335c81;

    .footer_inner {
        padding-top: rem-calc(100px);
    }

    .divider {
        width: 20%;
        margin-bottom: 20px;
        padding-top: 20px;
        border-bottom: 1px dashed rgba(255,255,255,0.6);
    }

    .four_columns {
        width: 100%;
        padding-bottom: rem-calc(100px);

        .column {
            width: 25%;
            float: left;
        }

        h2 {
            color: #fff;
            line-height: rem-calc(32px);
            text-transform: uppercase;
        }
    }

    .copyright {
        h2 {
            font-size: rem-calc(28px);
            font-weight: 400;
        }
    }

    .social {
        h2 {
            font-size: rem-calc(20px);
        }

        li {
            margin-bottom: 10px;
            line-height: rem-calc(39px);

            i {
                width: 39px;
                height: 39px;
                display: block;
                margin-right: 10px;
                background: url(../images/social-icons.png);

                &.icon-twitter {
                    background-position: 0 -48px;
                }

                &.icon-rss {
                    background-position: 0 -97px;
                }

                &.icon-google-plus {
                    background-position: 0 -146px;
                }
            }

            a {
                color: #fff;
                line-height: rem-calc(39px);
            }

            i, a {
                display: inline-block;
                vertical-align: middle;
            }
        }
    }

}

.copyright {
    ul {
        li {
            color: #fff;
            line-height: rem-calc(38px);
        }
    }
}

.footer-infomation, .footer-nav {
    ul {
        li {
            line-height: rem-calc(38px);

            a {
                color: #fff;
            }
        }
    }
}

